/target
/train/dataset
/train/__pycache__
/train/last
/train/stage1_dataset
/train/stage2_dataset
/mpv
/debug
/testcase
/app_data
/process_bins.py
/process_data.py
/pack.bat
/decoder.dist
/decoder.build
/nuitka-crash-report.xml
/decoder.exe
/encoder.exe